version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - devops-net

  app:
    build: ./app
    container_name: devops-app
    environment:
      DB_HOST: db
      DB_NAME: users_db
      DB_USER: postgres
      DB_PASS: postgres
    depends_on:
      - db
    networks:
      - devops-net

  nginx:
    build: ./nginx
    container_name: devops-nginx
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - devops-net

networks:
  devops-net:

volumes:
  db_data: