apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: devops-demo
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'flask-app'
        static_configs:
          - targets: ['app.devops-demo.svc.cluster.local:5000']