apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
  namespace: devops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: app
        image: zoltanvacz/devops-app:latest
        imagePullPolicy: Never
        ports:
          - containerPort: 5000
        env:
          - name: DB_HOST
            value: postgres
          - name: DB_NAME
            value: users_db
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_USER
          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: POSTGRES_PASSWORD
