apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: devops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        envFrom:
          - secretRef:
              name: postgres-secret
        volumeMounts:
        - name: db-data
          mountPath: /var/lib/postgresql/data
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d/init.sql
          subPath: init.sql
      volumes:
      - name: db-data
        emptyDir: {}
      - name: init-script
        configMap:
          name: postgres-init-sql